@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Merriweather:wght@400;700&family=Crimson+Pro:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.custom-button {
  @apply px-6 py-2 text-lg m-1 bg-slate-950 text-white;
  border: 2px solid white;
  transition: border 0.3s ease-in;
}
.custom-button:hover {
  @apply bg-slate-800;
  border: 2px solid gray;
}

.custom-height {
  max-height: calc(100vh - 100px);
}

/* category section  */
.collection-hover-effect {
  position: relative;
  left: -12.5%;
  overflow: hidden;
}
.collection-hover-effect::after {
  position: absolute;
  content: "Sports Wear";
  bottom: 50%;
  left: -1%;
  @apply md:text-5xl font-bold text-slate-400;
  transform: rotateZ(-90deg) scale(1);
  transition: transform 0.5s ease-in-out;
  /* transform: scale(1); */
}

.collection-hover-effect img {
  position: absolute;
  width: 100%;
  height: 100%;
  right: 30%;
  object-fit: cover;
  transform: translate(70%);
  transition: transform 0.5s ease-in-out;
}

.collection-hover-effect:hover img {
  transform: translate(30%);
}

.collection-hover-effect:hover::after {
  transform: rotateZ(-90deg) scale(0);
}

/* custom trending  */
.custom-trending {
  outline: 2px solid #a91b60;
  transition: background-color 0.5s ease-in;
}
.custom-trending:hover {
  color: white;
  @apply bg-stone-900;
  outline: 2px solid #ff0080;
}

/* trending container div  */
.custom-trending-container {
  perspective: 2500px;
}
.custom-trending-container img {
  border: 5px solid #ff0080;
  margin: auto 2rem;
}

.rotated-plus-y {
  transform: rotateY(20deg) scale(0.8);
}

.rotated-mimus-y {
  transform: rotateY(-20deg) scale(0.8);
}

.mid-img {
  transform: scale(1.1);
}
